<a href="https://colab.research.google.com/github/ihilesen/ihilesen/blob/main/Online_retail.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Analysis using Python for initial data cleaning

Import excel dataset

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
data = pd.ExcelFile('/content/drive/MyDrive/Colab Notebooks/datasets/1/Online Retail.xlsx')
print(data.sheet_names)
online_ret = data.parse('Online Retail')
online_ret1 = data.parse(0)
print(online_ret)

['Online Retail']
       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85     12680.0          France
541905 2011-12-09 12:50:00       2.10     12680.0          France
541906 2011-12-09 12:50:00       4.15     12680.0          France
541907 2011-12-09 12:50:00       4.15     12680.0          France
541908 2011-12-09 12:50:00       4.95     12680.0          France

[541909 rows x 8 columns]

Create a copy of dataset

In [30]:
copy = online_ret.copy()
print(copy)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85     12680.0          France
541905 2011-12-09 12:50:00       2.10     12680.0          France
541906 2011-12-09 12:50:00       4.15     12680.0          France
541907 2011-12-09 12:50:00       4.15     12680.0          France
541908 2011-12-09 12:50:00       4.95     12680.0          France

[541909 rows x 8 columns]

In [31]:
null_values = online_ret.isnull().any()
print(null_values)

InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool

In [32]:
online_ret = online_ret.fillna(0)
print(online_ret)

       InvoiceNo StockCode                          Description  Quantity  \
0         536365    85123A   WHITE HANGING HEART T-LIGHT HOLDER         6
1         536365     71053                  WHITE METAL LANTERN         6
2         536365    84406B       CREAM CUPID HEARTS COAT HANGER         8
3         536365    84029G  KNITTED UNION FLAG HOT WATER BOTTLE         6
4         536365    84029E       RED WOOLLY HOTTIE WHITE HEART.         6
...          ...       ...                                  ...       ...
541904    581587     22613          PACK OF 20 SPACEBOY NAPKINS        12
541905    581587     22899         CHILDREN'S APRON DOLLY GIRL          6
541906    581587     23254        CHILDRENS CUTLERY DOLLY GIRL          4
541907    581587     23255      CHILDRENS CUTLERY CIRCUS PARADE         4
541908    581587     22138        BAKING SET 9 PIECE RETROSPOT          3

               InvoiceDate  UnitPrice  CustomerID         Country
0      2010-12-01 08:26:00       2.55     17850.0  United Kingdom
1      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
2      2010-12-01 08:26:00       2.75     17850.0  United Kingdom
3      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
4      2010-12-01 08:26:00       3.39     17850.0  United Kingdom
...                    ...        ...         ...             ...
541904 2011-12-09 12:50:00       0.85     12680.0          France
541905 2011-12-09 12:50:00       2.10     12680.0          France
541906 2011-12-09 12:50:00       4.15     12680.0          France
541907 2011-12-09 12:50:00       4.15     12680.0          France
541908 2011-12-09 12:50:00       4.95     12680.0          France

[541909 rows x 8 columns]

In [33]:
null = online_ret.isnull().any()
print(null)

InvoiceNo      False
StockCode      False
Description    False
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID     False
Country        False
dtype: bool

DATA ANALYSIS

Exploratory Analysis

---
How many unique customers, products, and invoices are in the dataset?

In [34]:
unique_customers = online_ret['CustomerID'].nunique()
print(unique_customers)

4373

In [35]:
unique_products = online_ret['StockCode'].nunique()
print(unique_products)

4070

In [36]:
unique_invoices = online_ret['InvoiceNo'].nunique()
print(unique_invoices)

25900

What are the top-selling products and which ones generate the most revenue?

In [39]:
top_selling_products = online_ret.groupby('Description')['Quantity'].sum().sort_values(ascending=False)
print(top_selling_products.head(10))

Description
WORLD WAR 2 GLIDERS ASSTD DESIGNS     53847
JUMBO BAG RED RETROSPOT               47363
ASSORTED COLOUR BIRD ORNAMENT         36381
POPCORN HOLDER                        36334
PACK OF 72 RETROSPOT CAKE CASES       36039
WHITE HANGING HEART T-LIGHT HOLDER    35317
RABBIT NIGHT LIGHT                    30680
MINI PAINT SET VINTAGE                26437
PACK OF 12 LONDON TISSUES             26315
PACK OF 60 PINK PAISLEY CAKE CASES    24753
Name: Quantity, dtype: int64

In [41]:
online_ret["Revenue"] = online_ret["Quantity"] * online_ret["UnitPrice"]
print(online_ret["Revenue"])

0         15.30
1         20.34
2         22.00
3         20.34
4         20.34
          ...
541904    10.20
541905    12.60
541906    16.60
541907    16.60
541908    14.85
Name: Revenue, Length: 541909, dtype: float64

In [42]:
top_revenue_products = online_ret.groupby("Description")["Revenue"].sum().sort_values(ascending=False)
print(top_revenue_products.head(10))

Description
DOTCOM POSTAGE                        206245.48
REGENCY CAKESTAND 3 TIER              164762.19
WHITE HANGING HEART T-LIGHT HOLDER     99668.47
PARTY BUNTING                          98302.98
JUMBO BAG RED RETROSPOT                92356.03
RABBIT NIGHT LIGHT                     66756.59
POSTAGE                                66230.64
PAPER CHAIN KIT 50'S CHRISTMAS         63791.94
ASSORTED COLOUR BIRD ORNAMENT          58959.73
CHILLI LIGHTS                          53768.06
Name: Revenue, dtype: float64

Classify customer segments.

---
By Spend

In [53]:
customer_revenue = online_ret.groupby("CustomerID")["Revenue"].sum()
print(customer_revenue.head(5))

CustomerID
0.0        1447682.12
12346.0          0.00
12347.0       4310.00
12348.0       1797.24
12349.0       1757.55
Name: Revenue, dtype: float64

In [58]:
customer_segments = pd.qcut(customer_revenue, q=4, labels=["Low", "Mid", "High", "Top"])
print(customer_segments)

CustomerID
0.0        Top
12346.0    Low
12347.0    Top
12348.0    Top
12349.0    Top
          ...
18280.0    Low
18281.0    Low
18282.0    Low
18283.0    Top
18287.0    Top
Name: Revenue, Length: 4373, dtype: category
Categories (4, object): ['Low' < 'Mid' < 'High' < 'Top']

In [59]:
Value_segments = customer_segments.value_counts()
print(Value_segments)

Revenue
Low     1094
Mid     1093
High    1093
Top     1093
Name: count, dtype: int64

Identify the top 5% most valuable customers.

In [63]:
top_5_percent_cutoff = customer_revenue.quantile(0.95)
top_customers = customer_revenue[customer_revenue >= top_5_percent_cutoff]
print(top_5_percent_cutoff)
print(top_customers.head(10))

5646.189999999993
CustomerID
0.0        1447682.12
12357.0       6207.67
12359.0       6245.53
12409.0      11056.93
12415.0     123725.45
12428.0       7877.20
12431.0       6416.39
12433.0      13375.87
12435.0       7829.89
12451.0       8933.52
Name: Revenue, dtype: float64

Sales Trends

Analyze monthly or weekly sales trends.

In [64]:
online_ret["Month"] = online_ret["InvoiceDate"].dt.to_period("M")
monthly_sales = online_ret.groupby("Month")["Revenue"].sum()
print(monthly_sales)

Month
2010-12     748957.020
2011-01     560000.260
2011-02     498062.650
2011-03     683267.080
2011-04     493207.121
2011-05     723333.510
2011-06     691123.120
2011-07     681300.111
2011-08     682680.510
2011-09    1019687.622
2011-10    1070704.670
2011-11    1461756.250
2011-12     433668.010
Freq: M, Name: Revenue, dtype: float64

Weekly sales

In [65]:
online_ret["Week"] = online_ret["InvoiceDate"].dt.to_period("W")
weekly_sales = online_ret.groupby("Week")["Revenue"].sum()
print(weekly_sales)

Week
2010-11-29/2010-12-05    181847.250
2010-12-06/2010-12-12    270287.030
2010-12-13/2010-12-19    207052.170
2010-12-20/2010-12-26     89770.570
2011-01-03/2011-01-09     93720.930
2011-01-10/2011-01-16    190994.960
2011-01-17/2011-01-23    133782.910
2011-01-24/2011-01-30    119136.810
2011-01-31/2011-02-06    123642.180
2011-02-07/2011-02-13    102296.930
2011-02-14/2011-02-20    139664.580
2011-02-21/2011-02-27    133069.930
2011-02-28/2011-03-06    130435.560
2011-03-07/2011-03-13    129180.960
2011-03-14/2011-03-20    145262.610
2011-03-21/2011-03-27    147909.800
2011-03-28/2011-04-03    183501.710
2011-04-04/2011-04-10    121598.220
2011-04-11/2011-04-17    147459.771
2011-04-18/2011-04-24    115461.250
2011-04-25/2011-05-01     84382.660
2011-05-02/2011-05-08    130354.310
2011-05-09/2011-05-15    205445.230
2011-05-16/2011-05-22    198031.530
2011-05-23/2011-05-29    160569.820
2011-05-30/2011-06-05    116932.520
2011-06-06/2011-06-12    177916.870
2011-06-13/2011-06-19    184016.500
2011-06-20/2011-06-26    117086.710
2011-06-27/2011-07-03    136287.440
2011-07-04/2011-07-10    174659.170
2011-07-11/2011-07-17    124163.170
2011-07-18/2011-07-24    182513.960
2011-07-25/2011-07-31    180814.851
2011-08-01/2011-08-07    153176.200
2011-08-08/2011-08-14    161417.020
2011-08-15/2011-08-21    170724.890
2011-08-22/2011-08-28    149603.500
2011-08-29/2011-09-04    143819.060
2011-09-05/2011-09-11    190513.470
2011-09-12/2011-09-18    211722.620
2011-09-19/2011-09-25    326156.721
2011-09-26/2011-10-02    206858.231
2011-10-03/2011-10-09    302466.590
2011-10-10/2011-10-16    205734.640
2011-10-17/2011-10-23    263762.220
2011-10-24/2011-10-30    238642.190
2011-10-31/2011-11-06    288266.770
2011-11-07/2011-11-13    346560.140
2011-11-14/2011-11-20    380407.570
2011-11-21/2011-11-27    308185.020
2011-11-28/2011-12-04    319874.990
2011-12-05/2011-12-11    300605.220
Freq: W-SUN, Name: Revenue, dtype: float64

Peak and Low periods: Identify peak purchasing periods and low-activity seasons.

In [67]:
peak_months = monthly_sales.sort_values(ascending=False).head(3)
low_months = monthly_sales.sort_values().head(3)
print(peak_months)
print(low_months)

Month
2011-11    1461756.250
2011-10    1070704.670
2011-09    1019687.622
Freq: M, Name: Revenue, dtype: float64
Month
2011-12    433668.010
2011-04    493207.121
2011-02    498062.650
Freq: M, Name: Revenue, dtype: float64